/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
}

/* Splash
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.splash {
    background-image: url('../img/full/mac_keyboard.jpeg');
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.splash > .header {
    text-align: right;
    height: 50px;
    background: #33C3F0;
    font-size: 2.4rem;
}

.splash > .container {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background-color: white;
    opacity: 0.85;
    z-index: 99;
}
.navbar-item {
    display: none;
    float: none;
    position: relative;
    margin-bottom: 0;
}
.navbar-list {
    list-style: none;
    margin-bottom: 0; }
.navbar-item:first-child {
    display: block;
    margin-left: 20px;
}
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
.navbar-link.active {
    color: #33C3F0; }

/* Larger than phablet */
@media (min-width: 550px) {
    .navbar > .container {
        width: 100%; }
    .navbar-item {
        display: block;
        float: left; }
}